.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 97%; 
  height: 5rem;
  color: black;
  background-color: white;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.27);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.27);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem; 
  z-index: 10;
  font-family: "Poppins", sans-serif;
}


.header nav {
  display: flex;
}


.header a {
  text-decoration: none; 
  color: black; 
  margin: 0 1rem; 
}

.header a.active,
a:hover,
a:active {
  color: rgb(186, 29, 29); 
  font-weight: bold; 
}


  